.container {
  display: flex;
  /* height: 100vh; */
  background-color: rgb(104, 48, 177);
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.left {
  flex: 2;
  /* background-image: linear-gradient(
    to bottom,
    rgb(239, 245, 247),
    rgb(205, 220, 232),
    rgb(214, 202, 235),
    rgb(230, 189, 240)
  ); */
}

.right {
  flex: 3;
}
.container__image {
  min-height: 100px;
  max-width: 300px;
  width: 100%;
  box-shadow: 8px 8px 5px 1px rgb(204, 25, 25);
  margin: 0 auto;
  display: flex;
  margin-top: 5px;
}
.container__image > img {
  width: 100%;
  height: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.details > p {
  width: 90%;
  font-size: 1rem;
  padding: 0px 20px;
  text-align: left;
  line-height: 1.5;
  /* color: rgba(50, 51, 51, 0.8); */
  color: #fff;
}
.details > h1 {
  text-align: left;
  padding: 16px 20px;
  line-height: 1;
  letter-spacing: 1px;
  text-decoration: underline;
}
.background {
  /* background: url("https://images3.alphacoders.com/108/1082567.jpg") center
    fixed no-repeat;
  background-size: cover; */
  /* object-fit: contain; */
  /* position: relative; */
}
.background__gradient {
  width: 100%;
  /* height: 100vh; */
  z-index: 1;
  /* background: rgba(0, 0, 0, 0.4); */
  /* background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  ); */
}
.heading__ankuran {
  /* position: absolute;
  top: 8%;
  left: 10%;
  display: flex;
  align-items: center;
  justify-content: center; */
  background-color: rgb(177, 48, 48);
  padding: 12px;
  border-radius: 12px;
  max-width: 80%;
}
.heading__ankuran > h1 {
  color: #fff;
  text-align: center;
  width: 100%;
  margin: 0 auto;

  font-size: 1.7rem;
  text-decoration: underline;
}
.anakronos {
  color: #fff;
  /* width: 90%; */
  /* display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; */
  /* margin: 0px auto; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 70%;
  background-color: rgba(30, 30, 30, 0.8);
  /* position: absolute;
  top: 12rem;
  left: 2rem; */
  padding: 20px;
}
.anakronos h1 {
  font-size: 2rem;
  text-align: center;
  color: rgb(239, 158, 35);
}
.anakronos p {
  letter-spacing: 1px;
  line-height: 1.8;
  padding: 0.7rem;
  color: rgb(242, 165, 50);
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }
  .anakronos {
    width: 90%;
    top: 9rem;
    left: 1.5rem;
  }
  .anakronos > h1 {
    font-size: 0.9rem;
  }
  .anakronos > p {
    font-size: 0.7rem;
  }
  .details > p {
    font-size: 10px;
  }
  .details > h1 {
    font-size: 1rem;
  }
  .heading__ankuran > h1 {
    font-size: 1rem;
  }
  .container__image {
    max-width: 50vw;
    min-height: 100px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .anakronos {
    width: 80%;
    left: 3rem;
  }
  .heading__ankuran > h1 {
    font-size: 1rem;
  }
  .anakronos > p {
    font-size: 0.6rem;
  }
  .details > p {
    font-size: 10px;
    line-height: 1.5;
  }
  .details > h1 {
    font-size: 1rem;
  }
  .anakronos > h1 {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .anakronos {
    width: 80%;
    left: 4.5rem;
  }
  .heading__ankuran > h1 {
    font-size: 1.5rem;
  }
  .anakronos > p {
    font-size: 0.8rem;
  }
  .details > p {
    font-size: 13px;
    line-height: 1.5;
  }
  .details > h1 {
    font-size: 2rem;
  }
  .anakronos > h1 {
    font-size: 1.7rem;
  }
}
