.container {
  display: flex;
  gap: 10px;
  height: 100vh;
}
.left {
  flex: 2;
}

.right {
  flex: 3;
  overflow-y: hidden;
}
.container__image {
  height: 300px;
  max-width: 500px;
  width: 100%;
  border: 5px solid black;
  margin: 0 auto;
  display: flex;
  margin-top: 5px;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.details > p {
  width: 90%;
  font-size: 1.1rem;
  padding: 0px 20px;
  text-align: left;
  line-height: 1.5;
}
.details > h1 {
  text-align: left;
  padding: 16px 20px;
  line-height: 1;
  letter-spacing: 1px;
  text-decoration: underline;
}
.background {
  background: url("https://png.pngtree.com/thumb_back/fh260/background/20190827/pngtree-random-energy-wave-background-image_307670.jpg")
    center fixed no-repeat;
  background-size: cover;
  object-fit: contain;
  position: relative;
}
.background__gradient {
  width: 100%;
  height: 100vh;
  /* z-index: 1; */
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.heading__ankuran {
  position: absolute;
  top: 8%;
  left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(177, 48, 48);
  padding: 12px;
  border-radius: 12px;
  width: 80%;
}
.heading__ankuran > h1 {
  color: #fff;

  /* margin: 0 auto; */
  font-size: 1.6rem;
  text-decoration: underline;
}
.anakronos {
  color: #fff;
  width: 50%;
  background-color: rgba(30, 30, 30, 0.9);
  /* padding: 20px; */
  position: absolute;
  top: 10rem;
  left: 5rem;
  padding: 20px;
}
.anakronos p {
  letter-spacing: 1px;
  line-height: 2;
  padding: 10px;
}
.anakronos h1 {
  text-align: center;
}
